// Variable overrides


// npm run dev
$primary: #007DA3;
/*
$secondary: #002438;

// https://learnui.design/tools/data-color-picker.html#single

$primary-base:  #007da3;
$primary-100:   #2e8aae;
$primary-200:   #4797b9;
$primary-300:   #5ca4c4;
$primary-400:   #70b2d0;
$primary-500:   #83bfdb;
$primary-600:   #95cde7;
$primary-700:   #a8dbf3;
$primary-800:   #bae9ff;
$primary-900:   #bae9ff;


$gray-base: #002438;
$gray-100: #1a394e;
$gray-200: #314f65;
$gray-300: #48667d;
$gray-400: #5f7e95;
$gray-500:#7897af;
$gray-600:#90b0c9;
$gray-700:#aacbe4;
$gray-800: #c4e6ff;
$gray-900: #c4e6ff;



$theme-colors: (
  "primary": $gray-100,
  "secondary": $primary
);

*/
